extends layout

block body
  div(ng-controller='AppCtrl')
    h2 Hello {{name}}
    ul.menu
      li
        a(href='view1') view1
      li
        a(href='view2') view2
      li
        a(href='pfio') pfio
      li
        a(href='temp') temp


    div(ng-view)



  script(src='js/lib/jquery/1.9.1/jquery.min.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/twitter-bootstrap/2.3.0/bootstrap.min.js')
  script(src='js/lib/angular/angular-ui.js')
  script(src='js/lib/lodash/lodash.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/angular/angular-strap.js')

  link(rel='stylesheet', href='css/angular-ui.css')
  link(rel='stylesheet', href='css/bootstrap.css')